@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Merriweather:wght@300;400;700&family=Raleway:wght@300;400&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Odia:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway";
  color: rgb(40, 40, 40);
}

img {
  display: inherit;
  max-width: 100%;
  max-height: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}

.nav_menu {
  width: 400px;
  height: 100vh;
  background-color: rgb(171, 171, 171);
  position: fixed;
}

.me_area {
  text-align: center;
}

.me_area img {
  width: 215px;
  height: 210px;
  border-radius: 50%;
  transform: scaleX(-1);
  margin: 25px auto 0;
}

.me_area img:hover {
  filter: grayscale(150);
  border: 1px solid #000;
}

h2 {
  color: #000;
  font-family: "Hurricane";
  font-size: 2.2rem;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
}

h3:hover {
  color: #fff;
  text-shadow: 1px 1px 2px rgb(62, 62, 62);
  transform: scale(1.15);
}

ul li a:after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #000;
  margin: 0 auto 5px;
  display: block;
  transition: all 300ms;
}

nav ul li a:hover:after {
  width: 40%;
}

nav ul {
  padding-left: 0;
  margin-top: 55px;
}

nav ul li {
  text-align: center;
  padding-bottom: 23px;
}

nav ul li a {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(103, 29, 37);
  letter-spacing: 0.05rem;
}

footer {
  text-align: center;
  margin-top: 48px;
}

footer a:first-of-type {
  padding-right: 20px;
}

main {
  width: 800px;
  margin-left: 400px;
  background-color: rgba(168, 114, 119, 0.164);
}

.bg_img {
  background-image: url(../images/bg_img.png);
  background-size: cover;
  width: 100%;
  background-position: right;
  height: 100vh;
  transform: scaleX(-1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main_text {
  transform: scaleX(-1);
  color: black;
  margin-right: -150px;
  margin-top: -80px;
}

h1 {
  font-family: "Hurricane";
  font-size: 3.1rem;
  color: rgb(103, 29, 37);
  line-height: 3rem;
}

h1 span {
  font-family: "Roboto";
  font-size: 1.8rem;
}

a.button {
  padding: 20px 27px;
  color: white;
  background-color: rgb(26, 26, 26);
  border-radius: 5px;
  margin-top: 10px;
}

a.button span {
  font-size: 1.8rem;
}

.main_text a {
  font-family: "Raleway";
  font-size: 1.4rem;
}

a.button:hover {
  background-color: rgb(171, 171, 171);
  color: black;
  box-shadow: 1px 1px 2px rgb(43, 43, 43);
}

#red {
  font-size: 1.3rem;
}

#red:hover {
  color: rgb(103, 29, 37);
  cursor: pointer;
}

.active {
  color: black;
}

/* ============ ABOUT ME ======== */

main.about {
  height: 100vh;
  padding: 40px 70px;
  font-family: "Anek Odia";
  color: rgb(55, 55, 55);
  font-size: 1.3rem;
  line-height: 1.5rem;
  background-color: rgba(168, 114, 119, 0.164);
}

main.about h1 {
  font-size: 3.2rem;
}

ul.about {
  margin: 60px 0;
  padding-left: 0;
}

ul.about li {
  margin-bottom: 15px;
}

ul.about li span {
  color: rgb(103, 29, 37);
}

ul.about li span:first-of-type {
  color: #000;
  font-weight: 800;
  display: inline-block;
  width: 220px;
  font-size: 1.4rem;
}

.hobbies {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}

.hobby img {
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
}

.hobby:hover span {
  color: rgb(103, 29, 37);
  font-weight: 500;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.hobby:hover span {
  justify-content: center;
}

/* ============ SERVICES ======== */
main.services {
  padding: 15px 40px;
  text-align: center;
  color: rgb(55, 55, 55);
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.serv_container {
  margin-top: 30px;
}

.serv_container > * {
  display: inline-block;
  width: 45%;
  height: 200px;
  background-color: rgb(128, 128, 128);
  margin: 15px;
  padding: 20px;
  border-radius: 5%;
}

.serv_container img {
  width: 70px;
  height: 70px;
}

.serv_container > *:hover {
  background-color: #fff;
}

/* =========== CONTACT ========== */
main.contact {
  padding: 40px 80px;
  font-family: "Anek Odia";
}

h2#contact_title {
  color: rgb(103, 29, 37);
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

input[type="text"] {
  width: 45%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
}

input[type="text"]:first-of-type {
  margin-right: 60px;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
}

textarea#txt {
  font-family: "Anek Odia";
  font-size: 1.15rem;
  padding: 10px;
  margin-bottom: 15px;
}

button#send_formular {
  padding: 12px 40px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: rgb(26, 26, 26);
  border: none;
  letter-spacing: 0.1rem;
}

button#send_formular:hover {
  background-color: rgb(171, 171, 171);
  color: black;
  box-shadow: 1px 1px 2px rgb(43, 43, 43);
}

.mobil_footer {
  display: none;
}

@media screen and (max-width: 1128px) {
  .container {
    min-width: 100%;
  }

  .nav_menu {
    width: 320px;
  }

  main {
    margin-left: 320px;
  }

  main.contact {
    padding: 40px 60px;
  }

  nav ul li a {
    font-size: 1.1rem;
  }

  a.button {
    padding: 18px 22px;
  }

  .serv_container > * {
    width: 42%;
  }

  .serv-container:first-child,
  .serv-container:nth-child(3) {
    margin-right: 50px;
  }

  main.services p {
    text-align: left;
    padding: 0 25px;
  }

  main.contact {
    padding: 0;
  }

  form textarea {
    width: 90%;
  }

  input[type="email"] {
    width: 90%;
  }

  input[type="text"]:first-of-type {
    margin-right: 0;
  }

  form {
    padding-left: 8%;
  }

  .serv_container h2 {
    font-size: 1.5rem;
  }

  .bg_img {
    background-size: cover;
  }

  .main_text {
    margin-right: -10px;
  }
}

@media screen and (max-width: 900px) {
  .nav_menu {
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: fixed;
    z-index: 999;
  }

  footer {
    display: none;
  }

  nav ul {
    display: flex;
  }

  .me_area img {
    width: 110px;
    height: 110px;
    filter: grayscale(150);
    margin: 10px 0 10px 20px;
  }

  .me_area h2,
  .me_area h3 {
    display: none;
  }

  nav ul li {
    font-size: 1rem;
    margin-right: 20px;
  }

  main {
    width: 100%;
    margin: 0;
  }

  main.main_page {
    height: 82vh;
    margin-top: 18vh;
  }

  main.about {
    padding: 25px 60px;
    height: 82vh;
  }

  main.about h1 {
    font-size: 3rem;
    text-align: center;
  }

  .hobbies {
    margin-top: 0;
    padding: 0 10px;
  }

  .bg_img {
    height: 82vh;
  }

  .container {
    height: auto;
  }

  .serv_container {
    margin-top: 20px 0 10px;
  }

  .serv_container > * {
    width: 40%;
    height: 180px;
    margin: 15px 25px;
  }

  main.services {
    padding: 40px 0 30px;
  }

  main.services p {
    padding: 0 50px;
    text-align: left;
  }

  main.contact {
    padding-bottom: 30px;
  }

  nav ul li a:hover:after {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .main_text {
    margin-right: -10px;
  }

  .me_area img {
    display: none;
  }

  .nav_menu {
    height: 10vh;
  }

  main.main_page {
    margin-top: 10vh;
  }

  .serv_container > * {
    width: 40%;
    height: 160px;
    margin: 15px;
  }

  .nav_menu {
    justify-content: space-evenly;
  }

  main.services {
    padding: 125px 0 0;
  }

  input[type="text"] {
    width: 44.5%;
  }

  .bg_img {
    height: 90vh;
  }

  footer.mobil_footer {
    width: 100%;
    height: 50px;
    display: table;
    margin-top: 0;
    padding-bottom: 30px;
    background-color: rgba(168, 114, 119, 0.164);
  }

  main.about {
    padding: 75px 15px;
  }

  main.services p {
    padding: 0 15px;
  }

  button#send_formular {
    margin-left: calc(50vw - 115px);
  }

  ul li a:after {
    height: 0;
  }

  .nav_menu {
    padding-right: 22px;
  }

  nav ul li a {
    font-size: 1.05rem;
    text-shadow: 1px 1px 1px rgb(103, 29, 37);
  }
}
